<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>List of bikes</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Dental Health Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

	<!-- css files -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- //css files -->

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
	<!-- //google fonts -->

</head>
<body>

  <!-- //header -->
  <header class="py-3">
  	<div class="container-fluid ">
      	<div id="logo">
      <a class=" " href="./">
        <img src="images/lg.png"  alt="logo" style="width:60px;">
        <span class="">Fernweh</span>
      </a>
      </div>

  		<!-- nav -->
  		<nav class="d-lg-flex1 ">

  			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
  			<input type="checkbox" id="drop" />
  			<ul class="menu mt-2 ml-auto">
  				<li class="active"><a href="./">Home</a></li>
          <li class=""><a href="/blog">List of Bikes</a></li>
          <li class=""><a href="/host">Become a host</a></li>
  				<li class=""><a href="/about">About Us</a></li>

  				<li class=""><a href="/contact">Contact Us</a></li>

          <% if(user){ %>
        <!--Welcome...!!--><li><a href=""><span class="glyphicon glyphicon-user"></span>
        <% if (user.twitter.username != null) { %>
        <%= user.twitter.username %>
        <% } else if (user.google.email != null) { %>
        <%= user.google.email %>
        <% } else if (user.facebook.name  != null)  { %>
        <%= user.facebook.name  %>
        <% } else { %>
        <%= user.local.lastname %>
        <% } %>
        </a>
        </li>
         <li><a href="/logout"><i class="fa fa-sign-out"> Logout</a></i>
         <% } else{ %>
        	<li class=""><a href="/login"><span class="fa fa-lock fa-lg"></span> Login</a></li>
        	<li class=""><a href="/signup"><span class="fa fa-user fa-lg"></span> Sign Up</a></li>
          <% } %>
        </ul>
  			<div class="login-icon ml-2">
  				<a class="user" href="/blog"> Book Now</a>
  			</div>
  		</nav>
  		<div class="clear"></div>
  		<!-- //nav -->
  	</div>
  </header>

  <!-- //header -->
<!-- banner -->
<div class="innerpage-banner1" id="home">
	<div class="inner-page-layer1">
	</div>
</div>
<!-- //banner -->

<div class="container">
  <div class="margin">
  <center> <h3 class="heading">Two Wheelers</h3>   </center>
  </div>

    <div class="row">
        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3 ">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk1.png">
                        <img class="pic-2" src="images/bk1.png">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="/single">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk2.jpg">
                        <img class="pic-2" src="images/bk2.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk3.png">
                        <img class="pic-2" src="images/bk3.png">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk4.png">
                        <img class="pic-2" src="images/bk4.png">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk2.jpg">
                        <img class="pic-2" src="images/bk2.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk3.png">
                        <img class="pic-2" src="images/bk3.png">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk2.jpg">
                        <img class="pic-2" src="images/bk2.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk4.png">
                        <img class="pic-2" src="images/bk4.png">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk2.jpg">
                        <img class="pic-2" src="images/bk2.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk3.png">
                        <img class="pic-2" src="images/bk3.png">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk2.jpg">
                        <img class="pic-2" src="images/bk2.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-3 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk3.png">
                        <img class="pic-2" src="images/bk3.png">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>
                      <span class="product-new-label1">$25</span>
                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar</a></h3>
                    <div class="price">
                        $63.50
                        <span>$75.00</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="">BOOK NOW</a>
            </div>
        </div>
    </div>
  </div>
<hr>




<!-- footer -->
<footer class="py-5">
	<div class="container py-sm-3">
		<div class="row footer-grids">
			<div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
				<h4 class="mb-sm-4 mb-3"><span class=""></span>Fernweh</h4>
				<p class="mb-3">Onec Consequat sapien ut cursus rhoncus. Nullam dui mi, vulputate ac metus semper quis luctus sed.</p>
				<h5>Trusted by <span>500+ People</span> </h5>
			</div>
			<div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
				<h4 class="mb-sm-4 mb-3">Address Info</h4>
				<p><span class="fa mr-2 fa-map-marker"></span>64d canal street TT 3356 <span>Newyork, NY.</span></p>
				<p class="phone py-2"><span class="fa mr-2 fa-phone"></span> +1(12) 123 456 789 </p>
				<p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@example.com">info@example.com</a></p>
			</div>
			<div class="col-lg-2 col-sm-6 mb-sm-0 mb-4">
				<h4 class="mb-sm-4 mb-3">Quick Links</h4>
				<ul>
					<li><a href="#">Terms & Conditions</a></li>
					<li class="my-2"><a href="#">Support Helpline</a></li>
					<li><a href="#">Healthy Tips</a></li>
					<li class="mt-2"><a href="#">Privacy Ploicy</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-6">
				<h4 class="mb-sm-4 mb-3">Subscribe Us</h4>
				<p class="mb-3">Subscribe to our newsletter</p>
				<form action="#" method="post" class="d-flex">
					<input type="email" id="email" name="EMAIL" placeholder="Enter your email here" required="">
					<button type="submit" class="btn">Subscribe</button>
				</form>
				<div class="icon-social mt-3">
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-facebook"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-twitter"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-dribbble"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-pinterest"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-google-plus"></span>
					</a>

				</div>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container py-4">
		<div class=" text-center">
			<p>© 2019 All Rights Reserved | Design by Fernweh </p>
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top">
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->

</body>
</html>
