<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Contact us</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Dental Health Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

	<!-- css files -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

	<!-- //css files -->

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
	<!-- //google fonts -->

</head>
<body>

  <!-- //header -->
  <header class="py-3">
  	<div class="container-fluid ">
      	<div id="logo">
      <a class=" " href="./">
        <img src="images/lg.png"  alt="logo" style="width:60px;">
        <span class="">Fernweh</span>
      </a>
      </div>

  		<!-- nav -->
  		<nav class="d-lg-flex1 ">

  			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
  			<input type="checkbox" id="drop" />
  			<ul class="menu mt-2 ml-auto">
  				<li class="active"><a href="./">Home</a></li>
          <li class=""><a href="/blog">List of Bikes</a></li>
          <li class=""><a href="/host">Become a host</a></li>
  				<li class=""><a href="/about">About Us</a></li>
  				<li class=""><a href="/contact">Contact Us</a></li>
          <li><a href="/login" ><span class="fa fa-lock fa-lg"></span> Login</a></li>
          <li><a href="/signup" ><span class="fa fa-user fa-lg"></span> Sign Up</a></li>
        </ul>
  			<div class="login-icon ml-2">
  				<a class="user" href="contact.html"> Book Now</a>
  			</div>
  		</nav>
  		<div class="clear"></div>
  		<!-- //nav -->
  	</div>
  </header>

  <!-- //header -->

<!-- banner -->
<div class="innerpage-banner1" id="home">
	<div class="inner-page-layer1">
	</div>
</div>
<!-- //banner -->

<!-- contact -->
<section class="mail pt-lg-5 pt-4">
	<div class="container pt-lg-5">
    <div class="">
    <center> <h3 class="heading">Two Wheelers</h3>   </center>
    </div>
    <hr>
		<div class="row agileinfo_mail_grids">
			<div class="col-lg-8 agileinfo_mail_grid_right">
				<form action="#" method="post">
					<div class="row">
						<div class="col-md-6 wthree_contact_left_grid pr-md-0">
							<div class="form-group">
								<input type="text" name="name" class="form-control" placeholder="Name" required="">
							</div>
							<div class="form-group">
								<input type="email" name="email" class="form-control" placeholder="Email" required="">
							</div>
						</div>
						<div class="col-md-6 wthree_contact_left_grid">
							<div class="form-group">
								<input type="text" name="phone number" class="form-control" placeholder="Phone Number" required="">
							</div>
							<div class="form-group">
								<input type="text" name="subject" class="form-control" placeholder="Subject" required="">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="message" placeholder="Message" class="form-control" required=""></textarea>
							</div>
						</div>
						<div class="col-md-12 ">
							<div class="submit-buttons">
								<button type="submit" class="btn">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-4 contact-info">
				<h4 class="mb-4">Address Information</h4>
				<p><span class="fa mr-2 fa-map-marker"></span>Jaffna town, <span>Jaffna, Sri Lanka.</span></p>
				<p class="phone py-2"><span class="fa mr-2 fa-phone"></span>Phone : +94 77 364 0636 </p>
				<p><span class="fa mr-2 fa-envelope"></span>Email : <a href="mailto:info@example.com">fernwehrental@gmail.com</a></p>

				<h4 class="my-4">Book Your Bikes</h4>
				<p class="phone"><span class="fa mr-2 fa-phone"></span>Call us at +94 77 364 0636 </p>
			</div>
		</div>
	</div>
	<div class="map mt-5">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31465.037656947115!2d80.01087411788406!3d9.669957104802451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3afe53fd7be66aa5%3A0xc7da0d9203baf512!2sJaffna%2C+Sri+Lanka!5e0!3m2!1sen!2sin!4v1553793521532!5m2!1sen!2sin"
			style="border:0"></iframe>
	</div>
</section>
<!-- //contact -->

<!-- footer -->
<footer class="py-5">
	<div class="container py-sm-3">
		<div class="row footer-grids">
			<div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
				<h4 class="mb-sm-4 mb-3"><span class="fa fa-motorcycle"></span> Fernweh</h4>
				<p class="mb-3">Enjoy your freedom with fernweh.lk! We are fernweh.lk and we provide an easy way to organise hiring a motorbike while you are in Sri Lanka.</p>
				<h5>Trusted by <span>500+ People</span> </h5>
			</div>
			<div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
				<h4 class="mb-sm-4 mb-3">Address Info</h4>
				<p><span class="fa mr-2 fa-map-marker"></span>124, Rasavinthoddam Road, Nallur,<span>Jaffna, Sri Lanka.</span></p>
				<p class="phone py-2"><span class="fa mr-2 fa-phone"></span> +94 77 851 3071 </p>
				<p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@example.com">fernwehrental@gmail.com</a></p>
			</div>
			<div class="col-lg-2 col-sm-6 mb-sm-0 mb-4">
				<h4 class="mb-sm-4 mb-3">Quick Links</h4>
				<ul>
					<li><a href="#">Terms & Conditions</a></li>
					<li class="my-2"><a href="#">Support Helpline</a></li>
					<li><a href="#">Travel Tips</a></li>
					<li class="mt-2"><a href="#">Privacy Ploicy</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-6">
				<h4 class="mb-sm-4 mb-3">Subscribe Us</h4>
				<p class="mb-3">Subscribe to our newsletter</p>
				<form action="#" method="post" class="d-flex">
					<input type="email" id="email" name="EMAIL" placeholder="Enter your email here" required="">
					<button type="submit" class="btn">Subscribe</button>
				</form>
				<div class="icon-social mt-3">
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-facebook"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-twitter"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-dribbble"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-pinterest"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-google-plus"></span>
					</a>

				</div>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container py-4">
		<div class=" text-center">
			<p>© 2019 Dental Health. All Rights Reserved | Design by <a href="http://w3layouts.com/"> Fernweh</a> </p>
		</div>
	</div>
</div>
<!-- //copyright -->


<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top">
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->

</body>
</html>
