<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Fernweh</title>
<link rel="icon" type="image/ico" href="images/lg1.jpg" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Dental Health Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

	<!-- css files -->
	<link href="css/css_slider.css" type="text/css" rel="stylesheet" media="all"><!-- slider css -->
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' /><!-- bootstrap css -->
    <link href="css/style.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/style2.css" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="css/font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
	<!-- //css files -->

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<!-- //google fonts -->

<!--///////////popup login ////////////-->
  <link href="assets/css/bootstrap.css" rel="stylesheet" />
<link href="assets/css/login-register.css" rel="stylesheet" />
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.js" type="text/javascript"></script>
<script src="assets/js/login-register.js" type="text/javascript"></script>
<!--/////////// popup login ////////////-->

</head>
<body>

<!-- //header -->
<header class="py-3">
	<div class="container-fluid ">
    	<div id="logo">
    <a class=" " href="index.html">
      <img src="images/lg.png"  alt="logo" style="width:60px;">
      <span class="">Fernweh</span>
    </a>
    </div>

		<!-- nav -->
		<nav class="d-lg-flex1 ">

			<label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-2 ml-auto">
				<li class="active"><a href="./">Home</a></li>
        <li class=""><a href="/blog">List of Bikes</a></li>
        <li class=""><a href="/host">Become a host</a></li>
				<li class=""><a href="/about">About Us</a></li>

				<li class=""><a href="/contact">Contact Us</a></li>

        <% if(user){ %>
      <!--Welcome...!!--><li><a href=""><span class="fa fa-user"></span>
      <% if (user.twitter.username != null) { %>
      <%= user.twitter.username %>
      <% } else if (user.google.email != null) { %>
      <%= user.google.email %>
      <% } else if (user.facebook.name  != null)  { %>
      <%= user.facebook.name  %>
      <% } else { %>
      <%= user.local.lastname %>
      <% } %>
      </a>
      </li>
       <li><a href="/logout"><span class="fa fa-sign-out"></span>Logout</a></li>
       <% } else{ %>
      	<li class=""><a href="/login"><span class="fa fa-lock fa-lg"></span> Login</a></li>
      	<li class=""><a href="/signup"><span class="fa fa-user fa-lg"></span> Sign Up</a></li>
        <% } %>
      </ul>
			<div class="login-icon ml-2">
				<a class="user" href="/blog"> Book Now</a>
			</div>
		</nav>
		<div class="clear"></div>
		<!-- //nav -->
	</div>
</header>

<!-- //header -->



<div class="innerpage-banner" id="home">
	<div class="inner-page-layer">
    <h2 class="mb-sm-5 mb-4 heading1">Book Two Wheeler for yourself at a convenient time</h2>
	</div>
</div>

<!-- //header -->

<div class="container">
  <div class="margin1">
   <h2 class="heading text-center">Two Wheelers</h2>
  </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 ">
            <div class="product-grid3 ">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk1.png">
                        <img class="pic-2" src="images/bk1.png">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>

                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar NS200</a></h3>
                    <div class="price">
                        Rs.2500
                        <span>Rs.3000</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="/blog">BOOK NOW</a>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk2.jpg">
                        <img class="pic-2" src="images/bk2.jpg">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>

                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">KTM Duke200</a></h3>
                    <div class="price">
                        Rs.2500
                        <span>Rs.3000</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="/blog">BOOK NOW</a>
            </div>
        </div>


        <div class="col-md-4 col-sm-6 ">
            <div class="product-grid3">
                <div class="product-image3">
                    <a href="#">
                        <img class="pic-1" src="images/bk3.png">
                        <img class="pic-2" src="images/bk3.png">
                    </a>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                    <span class="product-new-label">New</span>

                </div>
                <div class="product-content">
                    <h3 class="title"><a href="#">Pulsar RS200</a></h3>
                    <div class="price">
                        Rs.2500
                        <span>Rs.3000</span>
                    </div>
                    <ul class="rating">
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star"></li>
                        <li class="fa fa-star disable"></li>
                        <li class="fa fa-star disable"></li>
                    </ul>
                </div>
                <a class="add-to-cart" href="/blog">BOOK NOW</a>
            </div>
        </div>
    </div>
      <div class="login-icon1">
      <center>	<a class="user" href="/blog"> List of Bikes</a>  </center>
      </div>
  </div>
<!-- banner -->
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
      </div>
</div>


<!-- about -->
<section class="about ash">
	<div class="container">
		<h2 class="heading text-center mb-sm-5 mb-4 ">About Us </h2>
		<div class="row">
			<div class="col-lg-8">
				<h4 class="about-left">Quality Rental services</h4>
				<p class="mt-sm-4 mt-3">Enjoy your freedom with fernweh.lk! We are fernweh.lk and we provide an easy way to organise hiring
          a motorbike while you are in Sri Lanka. We give customers easy and affordable alternatives for travelling, including young tourists who
           like to organize and travel by themselves without any travel agent or guide. We also create an opportunity for local people to earn money from renting out their own vehicles which are not being used.</p>
				<!-- <div class="row mt-4">
					<div class="col-md-3 col-6">
						<div class="about-box">
							<span class="icon">
								<span class="fa fa-birthday-cake"></span>
							</span>
							<h4>Root Canals</h4>
						</div>
					</div>
					<div class="col-md-3 col-6">
						<div class="about-box">
							<span class="icon">
								<span class="fa fa-rocket"></span>
							</span>
							<h4>Teeth Whitening</h4>
						</div>
					</div>
					<div class="col-md-3 col-6 mt-md-0 mt-4">
						<div class="about-box">
							<span class="icon">
								<span class="fa fa-stethoscope"></span>
							</span>
							<h4>Check-ups</h4>
						</div>
					</div>
				</div> -->
        <br>
        <div class="col-md-3 col-6">
            <div class="login-icon ml-2">
              <a class="user" href="/about"> Read more</a>
            </div>
        </div>
			</div>
			<div class="col-lg-4 col-md-8 dental">
				<img src="images/lg.png" class="img-fluid" alt="" />
			</div>
		</div>
	</div>
</section>
<!-- //about -->


<!--Service-->
<section id="service">
  <div class="container">
    <h3 class="black">If you’re a traveler</h3>
    <div class="service_area">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon delay-03s"> <span><i class="fa fa-user-plus"></i></span> </div>
            <h3 class="">Register</h3>
            <p class="">If you want to rent  a bike, 1st you want to create an account with Fernweh to confirm registration.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon"> <span><i class="fa fa-motorcycle"></i></span> </div>
            <h3 class="">Book your bike</h3>
            <p class="">If you are going to rent a bike from Fernweh, click on the bike you want and book now. It redirects to the booking page.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon"> <span><i class="fa fa-heart"></i></span> </div>
            <h3 class="">Enjoy your journey</h3>
            <p class="">If it is available at your booking time, you will be sent a confirmation email.</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>
<section id="service1">
  <div class="container">
    <h3 class="black">If you’re a bike owner</h3>
    <div class="service_area">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon "> <span><i class="fa fa-user-plus"></i></span> </div>
            <h3 class="">Register</h3>
            <p class="">If you want to rent out a spare two wheeler, 1st you want to create an account with Fernweh to confirm registration.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon"> <span><i class="fa fa-motorcycle"></i></span> </div>
            <h3 class="">Add bikes</h3>
            <p class="">If you want to post your bike in Fernweh, enter your details to the page and click add.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon "> <span><i class="fa fa-dollar"></i></span> </div>
            <h3 class="">Earn</h3>
            <p class="">If anyone rents your bike you will get an email notification and you can earn from home.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--Service-->




<!-- footer -->
<footer class="py-5">
	<div class="container py-sm-3">
		<div class="row footer-grids">
			<div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
				<h4 class="mb-sm-4 mb-3"><span class="fa fa-motorcycle"></span> Fernweh</h4>
				<p class="mb-3">Enjoy your freedom with fernweh.lk! We are fernweh.lk and we provide an easy way to organise hiring a motorbike while you are in Sri Lanka.</p>
				<h5>Trusted by <span>500+ People</span> </h5>
			</div>
			<div class="col-lg-3 col-sm-6 mb-lg-0 mb-sm-5 mb-4">
				<h4 class="mb-sm-4 mb-3">Address Info</h4>
				<p><span class="fa mr-2 fa-map-marker"></span>124, Rasavinthoddam Road, Nallur,<span>Jaffna, Sri Lanka.</span></p>
				<p class="phone py-2"><span class="fa mr-2 fa-phone"></span> +94 77 851 3071 </p>
				<p><span class="fa mr-2 fa-envelope"></span><a href="mailto:info@example.com">fernwehrental@gmail.com</a></p>
			</div>
			<div class="col-lg-2 col-sm-6 mb-sm-0 mb-4">
				<h4 class="mb-sm-4 mb-3">Quick Links</h4>
				<ul>
					<li><a href="#">Terms & Conditions</a></li>
					<li class="my-2"><a href="#">Support Helpline</a></li>
					<li><a href="#">Travel Tips</a></li>
					<li class="mt-2"><a href="#">Privacy Ploicy</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-sm-6">
				<h4 class="mb-sm-4 mb-3">Subscribe Us</h4>
				<p class="mb-3">Subscribe to our newsletter</p>
				<form action="#" method="post" class="d-flex">
					<input type="email" id="email" name="EMAIL" placeholder="Enter your email here" required="">
					<button type="submit" class="btn">Subscribe</button>
				</form>
				<div class="icon-social mt-3">
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-facebook"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-twitter"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-dribbble"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-pinterest"></span>
					</a>
					<a href="#" class="button-footr">
						<span class="fa mx-2 fa-google-plus"></span>
					</a>

				</div>
			</div>
		</div>
	</div>
</footer>
<!-- //footer -->

<!-- copyright -->
<div class="copyright">
	<div class="container py-4">
		<div class=" text-center">
			<p>© 2019 Dental Health. All Rights Reserved | Design by <a href="http://w3layouts.com/"> Fernweh</a> </p>
		</div>
	</div>
</div>
<!-- //copyright -->

<!-- move top -->
<div class="move-top text-right">
	<a href="#home" class="move-top">
		<span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
	</a>
</div>
<!-- move top -->





</body>
</html>
